Source: cdrkit
Priority: optional
Section: otherosfs
Maintainer: Joerg Jaspert <joerg@debian.org>
Uploaders: Eduard Bloch <blade@debian.org>, Steve McIntyre <93sam@debian.org>
Build-Depends: debhelper (>=5.0.37.3), zlib1g-dev, autotools-dev, cmake (>= 2.4.3-1), libcap-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386], libcam-dev [kfreebsd-i386 kfreebsd-amd64], libmagic-dev
Standards-Version: 3.7.2

Package: mkisofs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: wodim, cdrkit-doc
Conflicts: mkhybrid
Description: Creates ISO-9660 CD-ROM filesystem images
 mkisofs is a pre-mastering program for creating ISO-9660 CD-ROM 
 filesystem images, which can then be written to a CD-ROM (or DVD-ROM) using
 the wodim program. mkisofs now includes support for making bootable 
 "El Torito" CD-ROMs, as well as CD-ROMs with support for the
 Macintosh HFS filesystem.
 .
 The package also includes tools needed to create compressed isofs images
 (mkzftree from zisofs_tools source).
 .
 Please install cdrkit-doc if you want most of the documentation and
 Readme-files.

Package: cdrkit-doc
Architecture: all
Section: doc
Replaces: cdrtools-doc
Conflicts: cdrtools-doc
Suggests: wodim, mkisofs, cdda2wav
Description: Documentation for the cdrkit package-suite
 This is the documentation for the cdrkit package-suite, namely
 wodim, mkisofs and cdda2wav.
